<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.prestosql.benchto.driver" level="INFO" />
    <logger name="org.springframework" level="WARN" />

    <!-- Logs messages related to template execution -->
    <!-- We don't need any logs printed by freemarker. When template processing fails - we will get an exception -->
    <logger name="freemarker.runtime" level="OFF" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
