name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # checkout tags so version in Manifest is set properly
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 22
    - name: Maven Test
      run: ./mvnw install -B
    - name: Integration test
      run: ./mvnw install -B -pl benchto-it -P it

